@font-face {
  font-family: "Poppins";
  font-weight: normal;
  src: url(../assets/fonts/Poppins/Poppins-regular.ttf);
}
@font-face {
  font-family: "Poppins";
  font-weight: bold;
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "GolosText";
  font-weight: normal;
  src: url(../assets/fonts/Golos_text/GolosText-Medium.ttf);
}
@font-face {
  font-family: "GolosText";
  font-weight: bold;
  src: url(../assets/fonts/Golos_text/GolosText-Bold.ttf);
}
@font-face {
  font-family: "GolosText";
  font-weight: 500;
  src: url(../assets/fonts/Golos_text/GolosText-Medium.ttf);
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading__subtitle {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 36px;
  font: bold 16px/1.5 "Poppins", "GolosText", sans-serif;
  z-index: 1;
  letter-spacing: 0.02em;
}
.heading__subtitle::before {
  content: "";
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #ffa501;
  z-index: -1;
}
.heading__subtitle_left {
  display: flex;
  position: relative;
  justify-content: initial;
  padding-left: 12px;
}
.heading__subtitle_left::before {
  left: 0;
}
.heading__title {
  font: bold 36px/60px "Poppins", "GolosText", sans-serif;
  padding-bottom: 22px;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .heading__title {
    padding-top: 20px;
    padding-bottom: 13px;
    font: 700 24px/1.5 "Poppins", "GolosText", sans-serif;
  }
}
.heading__line {
  width: 60px;
  height: 3px;
  background-color: #ffa501;
}
.heading_left {
  align-items: flex-start;
}
.heading_left .heading__title {
  padding-bottom: 1px;
}
@media screen and (max-width: 767px) {
  .heading_left .heading__title {
    padding-bottom: 13px;
  }
}

.before-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
}
.before-content__circle {
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background-color: #ffa501;
}
.before-content__line {
  height: calc(100% - 24px);
  width: 1px;
  background-color: #000;
}

.input {
  position: relative;
  flex-grow: 1;
  font: 500 12px/1.5 "Poppins", "GolosText", sans-serif;
  min-width: 200px;
}
.input_textarea {
  width: 100%;
  height: 190px;
  margin-bottom: 13px;
}
.input__field {
  border: 1px solid #000;
  position: relative;
  width: 100%;
  padding: 14px 20px;
  height: 45px;
}
.input__field_textarea {
  width: 100%;
  height: 100%;
  resize: none;
}
.input__label {
  position: absolute;
  top: -8px;
  z-index: 1;
  left: 12px;
  background-color: white;
  padding: 0 8px;
}
.input__error-field {
  font-size: 0.8em;
  color: #ff0000;
  visibility: hidden;
}
.input.invalid {
  color: #ff0000;
}
.input.invalid .input__field {
  border-color: #ff0000;
}
.input.invalid .input__error-field {
  visibility: visible;
}

.button {
  display: block;
  padding: 12px 26px;
  font: bold 14px/1.5 "Poppins", "GolosText", sans-serif;
  background-color: #ffa501;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.03em;
}

.secondary-button {
  display: block;
  font: bold 14px/1.5 "Poppins", "GolosText", sans-serif;
  letter-spacing: 0.03em;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: -345px;
  min-width: 250px;
  width: 70%;
  max-width: 345px;
  height: 100%;
  background-color: #ffa501;
  z-index: 4;
  transition: left 0.6s ease 0s;
  padding: 24px 25px 0;
}
.nav.open {
  left: 0;
}
.nav.open ~ .dark {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
}
.nav__list {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  flex-grow: 1;
  padding-top: 87px;
  padding-left: 15px;
  gap: 15px;
}
@media screen and (max-width: 767px) {
  .nav__list {
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .nav {
    padding: 24px 0 0 0;
  }
}

.dark {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.nav__item {
  display: flex;
  align-items: center;
  gap: 20px;
  font: 700 24px/1.5 "Poppins", "GolosText", sans-serif;
}
.nav__item::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  border: 1px solid black;
}
.nav__item .nav__link {
  color: #fff;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  width: 36px;
  height: 21px;
  top: 20px;
  right: 30px;
  cursor: pointer;
}
.burger__line {
  height: 3px;
  width: 30px;
  background: #000;
}
.burger__line_2 {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .burger {
    right: 20px;
  }
}

.cross {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.cross__line {
  position: absolute;
  border-radius: 2px;
  height: 3px;
  width: 40px;
  transform: rotate(45deg);
  background: #000;
  left: -4px;
}
.cross__line_2 {
  transform: rotate(135deg);
}
@media screen and (max-width: 767px) {
  .cross {
    right: 25px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  gap: 60px;
  max-width: 1140px;
  margin: 0 auto;
}
@media screen and (max-width: 991px) {
  .section {
    padding: 60px 20px 0;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding: 40px 10px 0;
    gap: 40px;
  }
  .section_benefits {
    padding: 40px 8px 0;
  }
}
.section__contacts {
  flex-direction: row;
  align-items: flex-start;
}
.section .section__content {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-right: 24px;
}
@media screen and (max-width: 991px) {
  .section .section__content {
    flex-direction: column;
    gap: 35px;
    align-items: center;
    padding-right: 0;
  }
}
.section .skills__content {
  display: flex;
  flex-direction: column;
  gap: 45px;
  max-width: 375px;
}
.section .skills__content .skills__title {
  font: 700 20px/1.5 "Poppins", "GolosText", sans-serif;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 991px) {
  .section .skills__content {
    max-width: 650px;
  }
}
@media screen and (max-width: 767px) {
  .section .skills__content {
    gap: 10px;
  }
  .section .skills__content .skills__title {
    padding-bottom: 35px;
  }
}
.section .skills-container {
  display: flex;
  gap: 35px;
}
.section .skill__heading {
  display: flex;
  gap: 20px;
}
.section .skill__heading__logo {
  flex-shrink: 0;
  background-color: #ffa501;
  position: relative;
  border-radius: 18px;
  width: 36px;
  height: 36px;
}
.section .skill__heading__logo::before {
  content: "";
  display: block;
  position: absolute;
  width: 42px;
  height: 1px;
  background-color: #000;
  top: 18px;
  left: -42px;
}
.section .skill__heading__logo .skill__heading__img {
  position: absolute;
  bottom: -3px;
  right: -3px;
}
.section .skill__heading__title {
  font: bold 14px/1.5 "Poppins", "GolosText", sans-serif;
}
.section .skill__heading__subtitle {
  font: 500 12px/1.5 "Poppins", "GolosText", sans-serif;
}
@media screen and (max-width: 767px) {
  .section .skill__heading__subtitle {
    height: 30px;
  }
}
.section .skill__heading__title {
  font: bold 14px/1.5 "Poppins", "GolosText", sans-serif;
}
.section .skill {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.section .skill__description {
  padding-bottom: 5px;
  font: 500 12px/1.5 "Poppins", "GolosText", sans-serif;
}
@media screen and (max-width: 767px) {
  .section .skill {
    gap: 10px;
  }
}

.section__contacts {
  flex-direction: row;
  align-items: flex-start;
  padding: 60px 35px 91px 52px;
  gap: 68px;
}
@media screen and (max-width: 991px) {
  .section__contacts {
    flex-direction: column;
    padding: 40px 20px 50px;
  }
  .section__contacts .image-part {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .section__contacts {
    flex-direction: column;
    padding: 40px 10px 50px;
  }
  .section__contacts .image-part {
    display: none;
  }
}
.section__contacts .content-part {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.section__contacts .contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.section__contacts .contacts__subtitle {
  font: bold 14px/1.5 "Poppins", "GolosText", sans-serif;
  letter-spacing: 0.03em;
}
.section__contacts .contacts__images {
  display: flex;
  gap: 20px;
  padding-left: 2px;
}
.section__contacts .contacts__images .contacts__link {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../assets/svg/Facebook.svg);
}
.section__contacts .contacts__images .contacts__link:nth-of-type(2) {
  background-image: url(../assets/svg/Telegram.svg);
  margin-left: 5px;
}
.section__contacts .contacts__images .contacts__link:last-of-type {
  background-image: url(../assets/svg/Instagram.svg);
}
@media screen and (max-width: 767px) {
  .section__contacts .contacts__images {
    padding-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .section__contacts .contacts {
    gap: 19px;
  }
}
.section__contacts .form {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 15px;
  padding-top: 10px;
}
@media screen and (max-width: 767px) {
  .section__contacts .form {
    justify-content: center;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Poppins", "GolosText";
}

.header {
  display: flex;
  align-items: center;
  background: url("../assets/Background.png");
  background-position-y: -108px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
}
.header__content {
  align-self: flex-start;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  right: 60px;
  top: 200px;
}
.header__links {
  display: flex;
  align-items: center;
  gap: 44px;
}
.header__title {
  font: 700 48px/60px "Poppins", "GolosText", sans-serif;
  letter-spacing: 0.02em;
  padding-top: 3px;
  padding-bottom: 34px;
}
@media screen and (max-width: 1439px) {
  .header {
    background-position: center;
  }
  .header__content {
    right: 0;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 0 10px;
    height: 40rem;
  }
  .header__content {
    margin: 0;
    right: 0;
  }
  .header__title {
    font: 700 26px/1.5 "Poppins", "GolosText", sans-serif;
    padding-bottom: 31px;
  }
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: relative;
  bottom: 5px;
  padding: 0 46px 0 50px;
  font: bold 16px/1.5 "Poppins", "GolosText", sans-serif;
  letter-spacing: 0.02em;
}
.social-links_nav {
  transform: rotate(90deg);
  padding: 0 50px;
}
.social-links__line {
  height: 70px;
  width: 2px;
  background-color: #000;
}
.social-links__text {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}
.social-links .social-links__link {
  display: block;
  height: 20px;
  width: 20px;
  background-image: url(../assets/svg/Facebook.svg);
  background-size: contain;
  transform: rotate(270deg);
}
.social-links .social-links__link:nth-of-type(2) {
  background-image: url(../assets/svg/Instagram.svg);
}
.social-links .social-links__link:last-of-type {
  background-image: url(../assets/svg/Github.svg);
  transform: rotate(0);
}
@media screen and (max-width: 767px) {
  .social-links:not(.social-links_nav) {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */