@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  src: url(../assets/fonts/Poppins/Poppins-regular.ttf);
}

@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'GolosText';
  font-weight: normal;
  src: url(../assets/fonts/Golos_text/GolosText-Medium.ttf);
}

@font-face {
  font-family: 'GolosText';
  font-weight: bold;
  src: url(../assets/fonts/Golos_text/GolosText-Bold.ttf);
}

@font-face {
  font-family: 'GolosText';
  font-weight: 500;
  src: url(../assets/fonts/Golos_text/GolosText-Medium.ttf);
}