$color-black: #000;
$color-white: #fff;
$color-orange: #ffa501;
$color-red: #ff0000;

$title-font: bold 36px/60px 'Poppins', 'GolosText', sans-serif;
$subtitle-font: bold 16px/1.5  'Poppins', 'GolosText', sans-serif;
$font-14-bold: bold 14px/1.5  'Poppins', 'GolosText', sans-serif;
$font-12: 500 12px/1.5 'Poppins', 'GolosText', sans-serif;
$font-48: 700 48px/60px 'Poppins', 'GolosText', sans-serif;
$font-20: 700 20px/1.5 'Poppins', 'GolosText', sans-serif;
$font-24: 700 24px/1.5 'Poppins', 'GolosText', sans-serif;
$font-26: 700 26px/1.5 'Poppins', 'GolosText', sans-serif;
