$color-black: #000;
$color-white: #fff;
$color-orange: #ffa501;
$color-red: #ff0000;

$title-font: bold 36px/60px 'Poppins', 'GolosText';
$subtitle-font: bold 16px/1.5  'Poppins', 'GolosText';
$font-14-bold: bold 14px/1.5  'Poppins', 'GolosText';
$font-12: 500 12px/1.5 'Poppins', 'GolosText';
$font-48: 700 48px/60px 'Poppins', 'GolosText';
$font-20: 700 20px/1.5 'Poppins', 'GolosText';
$font-24: 700 20px/1.5 'Poppins', 'GolosText';
