.before-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;

  &__circle {
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: $color-orange ;
  }

  &__line {
    height: calc(100% - 24px);
    width: 1px;
    background-color: $color-black;
  }
}