.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  width: 36px;
  height: 21px;
  top: 20px;
  right: 30px;
  cursor: pointer;

  &__line {
    height: 3px;
    width: 30px;
    background: $color-black;

    &_2 {
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    right: 20px;
  }
}
