.button  {
  display: block;
  padding: 12px 26px;
  font: $font-14-bold;
  background-color: $color-orange;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.03em;
  transition: all 0.2s ease;
  cursor: pointer;

  &:active {
    transform: translateY(4px);
    box-shadow: none;
  }
}

.secondary-button  {
  display: block;
  font: $font-14-bold;
  letter-spacing: 0.03em;
  cursor: pointer;
}