.checkbox-container {
  display: flex;
  flex-direction: column;
  font: $font-12;

  .checkbox {
    display: flex;
    gap: 10px;

    &__input {
      border: none;
    }
    &__label span {
      color: $color-blue;
    }

    &.invalid .checkbox__label span {
      color: $color-red;
    }

    &.invalid ~ .input__error-field {
      visibility: visible;
    }
  }
}

