.cross {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.1);

    .cross__line {
      background-color: $color-white;
    }
  }

  &__line {
    position: absolute;
    border-radius: 2px;
    height: 3px;
    width: 40px;
    transform: rotate(45deg);
    background: $color-black;
    left: -4px;

    &_2 {
      transform: rotate(135deg);
    }
  }

  @media screen and (max-width: 767px) {
    right: 25px;
  }
}
