.heading {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtitle {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 36px;
    font: $subtitle-font;
    z-index: 1;
    letter-spacing: 0.02em;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 36px;
      height: 36px;
      border-radius: 18px;
      background-color: $color-orange;
      z-index: -1;
    }

    &_left {
      display: flex;
      position: relative;
      justify-content:initial;
      padding-left: 12px;
  
      &::before {
        left: 0;
      }
    }
  }

  &__title {
    font: $title-font;
    padding-bottom: 22px;
    letter-spacing: 0.02em;

    @media screen and (max-width: 767px) {
      padding-top: 20px;
      padding-bottom: 13px;
      font: $font-24;
    }
  }

  &__line {
    width: 60px;
    height: 3px;
    background-color: $color-orange;
  }

  &_left {
    align-items: flex-start;

    .heading__title {
      padding-bottom: 1px;

      @media screen and (max-width: 767px) {
        padding-bottom: 13px;
      }
    }
  }
}