.section__contacts {
  flex-direction: row;
  align-items: flex-start;
  padding: 60px 35px 91px 52px;
  gap: 68px;

  @media screen and (max-width: 991px) {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 50px;

    .image-part {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
    padding: 40px 10px 50px;

    .image-part {
      display: none;
    }
  }

  .content-part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
    width: 100%;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    &__subtitle {
      font: $font-14-bold;
      letter-spacing: 0.03em;
    }

    &__images {
      display: flex;
      gap: 20px;
      padding-left: 2px;

      .contacts__link {
        display: block;
        width: 30px;
        height: 30px;
        background-image: url(../assets/svg/Facebook.svg);
        transition: all 0.3s ease;

        &:hover {
          filter: invert(79%) sepia(50%) saturate(5519%) hue-rotate(0deg) brightness(106%) contrast(103%);
        }

        &:nth-of-type(2) {
          background-image: url(../assets/svg/Telegram.svg);
          margin-left: 5px;
        }

        &:last-of-type {
          background-image: url(../assets/svg/Instagram.svg);
        }
      }

      @media screen and (max-width: 767px) {
        padding-left: 0;
      }
    }

    @media screen and (max-width: 767px) {
      gap: 19px;
    }
  }

  .form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 15px;
    padding-top: 10px;
    max-width: 700px;

    @media screen and (max-width: 446px) {
      justify-content: center;
      row-gap: 5px;

      .button {
        order: 1;
      }
    }
  }
}
